/* AddNewTodo */
.AddNewTodo .btn {
  padding: 1rem;
  width: 100%;
  height: 70px;
}
.AddNewTodo .btn button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  background-color: #0080ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 0px 10px 0px 10px;
}
.AddNewTodo .btn button:hover {
  filter: brightness(1.1);
  transition: all 300ms ease;
}
/* AddNewTodo form */
.TodoForm {
  padding: 1rem 1rem calc(1rem + 40px) 1rem;
  width: 100%;
  background: white;
  border-radius: 4px;
}
.TodoForm .text input {
  padding: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
  border: none;
  font-size: 1.2rem;
}
.TodoForm .text input:focus {
  outline: none;
  border-bottom: 1px solid #0080ff;
}
.TodoForm .remind {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.TodoForm p {
  margin-left: 10px;
}
.TodoForm .title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.TodoForm .pick-day {
  padding: 1.5rem 1.5rem 0 1.5rem;
}
.TodoForm .pick-time {
  padding: 1.5rem;
}
.TodoForm .pick-project {
  padding: 0.5rem;
}
.TodoForm .pick-project .projects .active {
  background: #0080ff;
  color: white;
}
.TodoForm .cancel {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}
.TodoForm .confirm {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.TodoForm .confirm button {
  width: 100%;
  height: 40px;
  background: #0080ff;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 0 0 4px 4px;
  cursor: pointer;
}
.TodoForm .pick-project {
  padding: 0.5rem;
}
.TodoForm .projects {
  display: flex;
  padding: 0.5rem;
  flex-wrap: wrap;
}

.TodoForm .project {
  border: 1px solid blue;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  padding: 0.5rem;
}
.TodoForm .active {
  background-color: #0080ff;
  color: white;
}
.TodoForm .cancel {
  position: absolute;
  top: 0;
  right: 5px;
}
