.Todos {
  width: 450px;
  height: 80vh;
  background-color: white;
  position: absolute;
  border-radius: 4px;
  opacity: 0.9;
  padding: 0 0.5rem 0.5rem 0.5rem;
  z-index: -1;
  overflow-y: auto;
  top: 45%;
  right: 20%;
  transform: translate(-50%, -50%);
}
